.grid-container {
  min-height: 100%;
  position: relative;
  // margin-top: 30px;
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: repeat(3, minmax(min-content, 400px));
  grid-template-rows: repeat(2, 180px);
  justify-content: center;
  z-index: 1;
}

.grid-item {
  border: 1px solid;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5ddd8;
}
