.header {
  display: grid;
  grid-template-columns: repeat(1, fr);
  min-height: 100%;
  justify-items: center;
  align-items: center;
}

.header_item:nth-child(1) {
  margin-top: 50px;
  display: flex;
}
.logo {
  height: 150px;
  width: 150px;
}

.header_item:nth-child(2) {
  margin-top: -55px;
  font-size: 40px;
  display: flex;
  color: white;
}
